@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page-header */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.page-header {
  background-color: #ffffff;
  width: 1200px;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header-logo {
  display: block;
  width: 140px;
  height: 70px;
}

.navigation-logo {
  display: block;
  position: relative;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  max-width: 268px;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

/* hero */
.hero {
  display: block;
  padding: 0;
  margin: 0;
  background-image: url("../images/hero-background.jpg");
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
}

.logo-hero {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
}

.advantages-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding: 0;
  margin-bottom: 69px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  color: #000000;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.advantages-item-img {
  display: block;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.item-edge {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-middle {
  background-color: rgba(131, 179, 211, 0.20);
}

/* services */
.services {
  margin: 0;
  background-color: #ffffff;
  margin-bottom: 96px;
}

.services-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-text {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
}

.services-item-container {
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 200px;
  padding: 80px 85px;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  background-position: center 60px;
  background-repeat: no-repeat;
}

.services-item-house {
  background-image: url("../images/icons/house.svg");
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-food {
  background-image: url("../images/icons/food.svg");
  background-color: #ffffff;
}

.services-item-souvenirs {
  background-image: url("../images/icons/souvenirs.svg");
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 96px;
}

.form-title {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.form-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
}

.form-button {
  background: #756157;
  padding: 8px 50px;
}

/* newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/subscription-background.jpg");
  color: #ffffff;
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 96px 258px 104px;
}

.newsletter-container {
  width: 684px;
}

.newsletter-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.field {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px 0px 0px 4px;
  border-color:rgba(255, 255, 255, 0);
  background-color: #f2f2f2;
  width: 452px;
  padding: 12px 20px;
}

.newsletter-button {
  width: 232px;
  border-radius: 0px 4px 4px 0px;
  background-color: #82b3d3;
  padding: 8px 50px;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 40px 70px 30px;
  margin: 0;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  margin: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-phone {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Страница КАТАЛОГ */
.main-filter-background {
  display: block;
  background-image: url("../images/filter-background.jpg");
  color: #ffffff;
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 40px;
  margin-right: 10px;
}

/* filter */
.filter-container {
  display: flex;
}
.catalog-filter-group {
  border-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.button-filter {
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  padding: 0 50px;
}

.button-apply {
  background-color: #82b3d3;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
}

.button-reset {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* Сортировка */
.select-wrapper {
  background-color: #ffffff;
}

.select-info {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
}

.button-view-list {
  list-style: none;
}

.button-view {
  font-family: inherit;
}

/*select-wrapper*/

.results-search {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.select-wrapper {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
}

.select-info {
  align-self: center;
  margin: 0;
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  font-family: inherit;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: auto;
}

.sorting-container {
  margin: 0;
  margin-left: 70px;
}

.button-view-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-view-items {
  margin-right: 8px;
}

.button-view-items:last-child {
  margin-right: 0;
}

.button-view {
  width: 48px;
  height: 48px;

}

/* products-cards */
.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  margin: 0;
  padding: 0;
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  align-items: center;
}

.product-card-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  margin: 0;
  grid-column: span 2;
}
.product-card-image {
  display: block;
}

.product-card-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.product-card-text {
  margin: 0;
}
.product-card-price {
  font-weight: 400;
  text-align: end;
}

.product-card-button {
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 10px;
  align-self: flex-start;
}

.product-favorites {
  font-family: inherit;
  margin-right: 0;
  background: #82b3d3;
  border-color: rgba(255, 255, 255, 0);
  border: 0;
}

.button-selected {
  background: #7db54f;
  border-color: rgba(255, 255, 255, 0);
  border: 0;
}

.product-card-rating {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  background: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px;
}

/* pagination */
.pagination {
  display: flex;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-share {
  background-color: inherit;
  color: #000000;
}

/* newsletter */
.newsletter-changed {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}
