@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page-header */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.page-header {
  background-color: #ffffff;
  width: 1200px;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  max-width: 268px;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link-current {

}

.navigation-link-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

/* hero */
.hero {
  display: block;
  padding: 0;
  margin: 0;
  background-image: url("../images/hero-background.jpg");
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
}

.logo-hero {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages-title {
  padding: 0;
  margin: 0;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  color: #000000;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.advantages-item-img {
  display: block;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.item-edge {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-middle {
  background-color: rgba(131, 179, 211, 0.20);
}

/* services */
.services {
  margin: 0;
}
.services-title {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

.services-item-container {
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.services-item-title {
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  text-align: center;
}

.form-title {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.form-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.form-button {
  border-radius: 4px;
  background: #756157;
}

/* newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/subscription-background.jpg");
  color: #ffffff;
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-container {
  width: 684px;
}

.newsletter-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
}

.field {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px 0px 0px 4px;
  background: #f2f2f2;
}

.newsletter-button {
  border-radius: 0px 4px 4px 0px;
  background: #82b3d3;
}

/* footer */
.footer-container {
  display: flex;
  width: 1060px;
  padding: 0 70px;
}

.footer-contacts-phone {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

/* Страница КАТАЛОГ */
.main-filter-background {
  background-image: url("../images/filter-background.jpg");
  color: #ffffff;
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

/* filter */
.filter-container {
  display: flex;
}
.catalog-filter-group {
  color:#ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style: none;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.button-filter {
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.button-apply {
  background-color: #82b3d3;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
}

.button-reset {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* Сортировка */
.select-wrapper {
  background-color: #ffffff;
}

.select-info {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
}

.button-view-list {
  list-style: none;
}

.button-view {
  font-family: inherit;
}

/* product-list */
.product-list {
  list-style: none;
}

.product-card-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.product-card-button {
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.product-favorites {
  background: #82b3d3;
}

.button-selected {
  background: #7db54f;
}

.product-card-rating {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  background: #f2f2f2;
  text-transform: uppercase;
}

/* pagination */
.pagination {
  list-style: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

/* newsletter */
.newsletter-changed {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}
